nav ul {
  display: flex;
  background-color: grey;
  padding-left: 0px;
}
nav > ul > li:hover {
  background-color: tomato;
}
nav > ul > li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
}
