{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="/info/R401/">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-comments"></i>
                Garder le contact			</h3>
        </div>
        <div class="card-body">
            <div class="card clickable" onclick="window.open('https://iut2.univ-grenoble-alpes.fr/l-iut2/qui-sommes-nous-/les-departements-de-l-iut2/informatique-info--149104.kjsp','_blank')">
                <img src="{{asset("images/iut2_info.png") }}" class="card-img" alt="logo IUT2">
                <div class="card-body">
                    <h1 class="card-title">
                        <i class="fas fa-code"></i>
                        BUT INFO Semestre 4</h1>
                    <h2 class="card-title">
                        <i class="fab fa-symfony"></i>
                        Module R4.01</h2>
                    <p>
                        <i class="far fa-copyright"></i>
                        Ph. Martin, 2022/24</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}