/* À compléter */
body {
  margin: auto;
  width: 90%;
}

h1 {
  font-size: 50px;
}

/* ----------------------------student--------------------------------------- */

.student {
  background-color: silver;
  min-width: 220px;
  flex-grow: 2;
  padding: 50px 10px;
  padding-bottom: 0px;
  /* avec les padding comme ca 2 ligne au lieux de 3 */
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

button {
  color: white;
  background-color: gray;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
}

.studentContainer {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.studentTitle,
.studentInfo {
  text-align: center;
}

hr {
  width: 50%;
}

h3 {
  font-size: 14px;
}

/* ----------------------------student-3th--------------------------------------- */

section.student:nth-child(3) {
  background-color: #d2e4e1;
  flex-grow: 3;
}

section.student:nth-child(3).SelectStudent {
  background-color: #1aae9f;
}

.recommendedBage {
  border: 3px solid #207868;
  text-align: center;
  font-size: 30px;
  height: 40px;
}

/* .icon-badge {
  display: inline-block;
  height: 40px;
  la taille est regulé par le plugin 
} */

/* ----------------------------media-query---------------------------- */
@media (max-width: 600px) {
  /* À compléter */
  .student {
    flex-grow: 0;
  }

  .studentContainer {
    flex-direction: column-reverse;
  }
}
